---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Avertissement" spacing={11} oneSlide>
	<p class="fragment">L'expérience que vous venez de voir a été réalisée par un professionnel entraîné</p>
	<p class="fragment">Ne la reproduisez pas chez vous</p>
	<p class="fragment"><strong>Ne stockez jamais de vraies données d'utilisateurs avec un algorithme maison</strong></p>
</TitleSlide>
