---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Mesurer l'aléatoire: le biais" oneSlide spacing={15}>
	<p>Objectif : l'ensemble de destination doit être uniformément atteint</p>
	<p>Conséquence : chaque bit du condensé a 50% de chance d'être 1 ou 0</p>
	<p>Chaque caractère possible du hash est statistiquement aussi présent</p>
</TitleSlide>
