---
import TitleSlide from "../../components/TitleSlide.astro";
import FinalGrid10 from "../../assets/final_grid_10.png";
import FinalGrid1000 from "../../assets/final_grid_1000.png";
import InitialGrid from "../../assets/initial_grid.png";
---

<TitleSlide title="Exemple" oneSlide spacing={2}>
	<div class="exemple fragment">
		<div>
			<div class="gen-number">Etat initial</div>
			<img src={InitialGrid.src} width="400" />
		</div>
		<p>&#8594;</p>
		<div class="r-stack">
			<div class="final-state fragment fade-in-then-out">
				<div class="gen-number">Après 10 générations</div>
				<img class="final-grid" src={FinalGrid10.src} width="400" />
			</div>
			<div class="final-state fragment">
				<div class="gen-number">Après 1000 générations</div>
				<img class="final-grid" src={FinalGrid1000.src} width="400" />
			</div>
		</div>
	</div>
</TitleSlide>

<style>
	.exemple {
		position: relative;
		top: 2vh;
	}
</style>


