---
import Collision from "../../assets/collision.webp";
import Shattered from "../../assets/shattered.png";
import Slide from "../../components/Slide.astro";
---

<Slide backgroundImage={Collision.src}>
	<h2 style=`color: white`>{"Les collisions"}</h2>
</Slide>

<section data-background-image={Shattered.src} data-background-size="contain"></section>
