---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="La diffusion" spacing={8}>
	<p>Pour protéger les mots de passe en clair le condensé doit avoir le moins de lien avec</p>
	<p>Autrement dit, tout changement de l'entrée doit impliquer un changement total de l'output, c'est l'<strong>effet avalanche<strong></strong></p>
	<p>Concrètement deux entrées très proches doivent donner deux condensés totalement différents</p>
</TitleSlide>
