---
import Slide from "../../components/Slide.astro";
---

<Slide>
	<h2>Avertissement</h2>
</Slide>

<Slide withTitle>
	<div style="
		position: relative;
		top: -11vh;
		font-family: 'Comic Sans MS';
		width: 50vw;
		z-index: 10;
	">
		<h2 style="color: white; font-size: 1.42em;">Avertissement</h2>
	</div>
	<p class="fragment">L'expérience que vous allez voir a été réalisée par un professionnel entraîné</p>
	<p class="fragment">Ne la reproduisez pas chez vous</p>
	<p class="fragment">Ne stockez jamais de vraies données d'utilisateurs avec un algorithme maison</p>
</Slide>
