---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Chiffrement et hachage" spacing={12}>
	<div class="exemple">
		<div>
			<h3>Chiffement</h3>
			<ul>
				<li><strong>Bidirectionnel</strong> : on peut l'inverser</li>
				<li>Nécessite une clé secrète</li>
			</ul>
		</div>
		<div>
			<h3>Hachage</h3>
			<ul>
				<li><strong>Unidirectionnel</strong> : impossible à inverser</li>
				<li>Sécurisé sans aucun secret</li>
			</ul>
		</div>
	</div>
</TitleSlide>
