---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Recette pour faire une fonction de hachage" spacing={10.5}>
	<ul>
		<li class="fragment">Décoder le mot de passe en binaire</li>
		<li class="fragment">Utiliser les bits pour initialiser un jeu de la vie</li>
		<li class="fragment">Laisser le jeu de la vie s'exécuter</li>
		<li class="fragment">Récupérer les bits de l'état final</li>
		<li class="fragment">Encoder les bits en base64</li>
	</ul>
</TitleSlide>

<style>
	li + li {
		margin-top: 20px;
	}
</style>
