---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Le défaut du jeu de la vie" spacing={5}>
	<p class="fragment">L'<strong>oracle aléatoire</strong> peut produire tous les condensés imaginables, mais pas le jeu de la vie</p>
	<p class="fragment">Sortie en 256 bits = 2 ^ 256 condensés possibles <strong>théoriquement</strong> mais <strong>en pratique</strong> beaucoup moins</p>
	<p class="fragment">Certains condensés ne seront jamais produits car certaines configurations de la grille sont <strong>inatteignables</strong></p>
</TitleSlide>
