---
import TitleSlide from "../../components/TitleSlide.astro";
import StillLifeExemple from "../../assets/still_life_exemple.png";
import StillLife from "../../assets/still_life.jpeg";
---

<TitleSlide title="Les natures mortes" spacing={2} backgroundImage={StillLife.src}>
	<div class="flex">
		<div class="flex-item">
			<img src={StillLifeExemple.src} class="fragment"/>
		</div>
		<div class="flex-item">
			<ul style="font-size: 0.7em">
				<li style="margin: 0 0 10% 0" class="fragment">Des motifs stables</li>
				<li style="margin: 10% 0" class="fragment">Une fois atteints, s'ils ne sont pas perturbés, ils ne bougent plus jamais</li>
				<li style="margin: 10% 0" class="fragment">Motifs qui ont une structure, donc prévisibles</li>
			</ul>
		</div>
	</div>
</TitleSlide>

<style>
	.flex {
		display: flex;
		gap: 30px;
		align-items: center;
		position: relative;
		top: 3vh;
	}

	.flex-item {
		flex: 1 1 0;
	}
</style>
