---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Le paradoxe du jeu de la vie" spacing={3}>
	<div class="fragment" style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
		<p style="width: 30vw">Grand nombre d'ancêtres pour chaque état</p>
		<span>&#8594;</span>
		<p>Les collisions sont omniprésentes</p>
	</div>
	<p class="fragment">Attaques de préimage très faciles</p>
	<div class="fragment" style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
		<p style="width: 30vw">Beaucoup de mots de passe pour le même condensé</p>
		<span>&#8594;</span>
		<p>Il est très difficile de trouver le vrai !</p>

	</div>
</TitleSlide>
