---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Les vulnérabilités du jeu de la vie">
	<ul>
		<li class="fragment">Les collisions</li>
		<li class="fragment">Les attaques de préimage</li>
		<li class="fragment">Inversion du hash</li>
	</ul>
</TitleSlide>
