---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Comment stocker un mot de passe ?" spacing={10}>
	<div class="exemple">
		<p>En texte clair</p>
		<ul>
			<li>Un bon plan... pour les attaquants</li>
			<li>Aussi sécurisé que le fichier dans lequel les mots de passe sont stockés</li>
			<li>En cas de brèche : un attaquant peut se connecter et essayer sur d'autres sites</li>
			<li>Les fichiers de mots de passe en clair se vendent beaucoup plus cher</li>
		</ul>
	</div>
</TitleSlide>
