---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Les attaques de préimage" spacing={8}>
	<p>A partir d'un condensé donné, trouver un message quelconque qui donne le même condensé</p>
	<p>Autrement dit : trouver <strong>une collision particulière</strong</p>
	<p>Le message ne doit pas forcément être le même</p>
	<p>Autrement dit : trouver un autre mot de passe qui fonctionne</p>
</TitleSlide>
