---
import Layout from "../layouts/Layout.astro";
import Title from "../slides/1_intro/Title.astro";
import Accroche from "../slides/1_intro/Accroche.astro";
import HashFunctionsIntro from "../slides/1_intro/HashFunctionsIntro.astro";
import HashFunctionsExemple from "../slides/1_intro/HashFunctionsExemple.astro";
import IntroGameOfLife from "../slides/1_intro/IntroGameOfLife.astro";
import GameOfLifeFunction from "../slides/1_intro/GameOfLifeFunction.astro";
import Disclaimer from "../slides/2_demo/Disclaimer.astro";
import HashSecurity from "../slides/1_intro/HashSecurity.astro";
import Demo from "../slides/2_demo/Demo.astro";
import DesirableProperties from "../slides/3_evaluate_a_hash_function/DesirableProperties.astro";
import Bias from "../slides/3_evaluate_a_hash_function/Bias.astro";
import WhyHashing from "../slides/1_intro/WhyHashing.astro";
import Fingerprinting from "../slides/1_intro/Fingerprinting.astro";
import Rules from "../slides/1_intro/Rules.astro";
import GameOfLifeFullscreen from "../slides/1_intro/GameOfLifeFullscreen.astro";
import Dessin from "../slides/1_intro/Dessin.astro";
import FunctionPresentation from "../slides/2_demo/FunctionPresentation.astro";
import Diffusion from "../slides/3_evaluate_a_hash_function/Diffusion.astro";
import DiffusionExemple from "../slides/1_intro/DiffusionExemple.astro";
import BiasCharts from "../slides/3_evaluate_a_hash_function/BiasCharts.astro";
import GameOfLifeStillLife from "../slides/3_evaluate_a_hash_function/GameOfLifeStillLife.astro";
import BiasDiffusionTradeoff from "../slides/3_evaluate_a_hash_function/BiasDiffusionTradeoff.astro";
import BiasDiffusionTradeoffExemple from "../slides/3_evaluate_a_hash_function/BiasDiffusionTradeoffExemple.astro";
import GameOfLifeVulnerabilities from "../slides/4_cracking_hash_function/GameOfLifeVulnerabilities.astro";
import Collisions from "../slides/4_cracking_hash_function/Collisions.astro";
import Preimage from "../slides/4_cracking_hash_function/Preimage.astro";
import GameOfLifeProblem from "../slides/4_cracking_hash_function/GameOfLifeProblem.astro";
import Eden from "../slides/4_cracking_hash_function/Eden.astro";
import InjectivityExemple from "../slides/4_cracking_hash_function/InjectivityExemple.astro";
import GameOfLifeParadox from "../slides/4_cracking_hash_function/GameOfLifeParadox.astro";
import Final from "../slides/5_outro/Final.astro";
import Recommendations from "../slides/5_outro/Recommendations.astro";
---

<Layout title="My Awesome Talk Title">
  <main class="reveal">
    <div class="slides">
			<!-- Intro -->
      <Title />
			<Accroche />
			<HashFunctionsIntro />
			<HashSecurity />
			<HashFunctionsExemple />
			<DiffusionExemple />
			<WhyHashing />
			<Fingerprinting />
			<Dessin />
			<IntroGameOfLife />
			<Rules />
			<GameOfLifeFullscreen />
			<GameOfLifeFunction />
			<!-- Demo -->
			<Disclaimer />
			<FunctionPresentation />
			<Demo withTitle/> <!-- General demo -->
			<!-- How to evaluate a hash function ? -->
			<DesirableProperties />
			<Bias />
			<Diffusion />
			<Demo /> <!-- Exemples of diffusion and bias -->
			<BiasCharts />
			<GameOfLifeStillLife />
			<BiasDiffusionTradeoff />
			<BiasDiffusionTradeoffExemple />
			<!-- Cracking my hash function -->
			<GameOfLifeVulnerabilities />
			<Demo /> <!-- Password collision -->
			<Collisions />
			<Preimage />
			<GameOfLifeProblem />
			<Eden />
			<InjectivityExemple />
			<GameOfLifeParadox />
			<!-- Outro -->
			<Disclaimer />
			<Recommendations />
			<Final />
      <!-- Put your slides here -->
    </div>
  </main>
</Layout>

<style lang="scss">
  // Sass is installed by default, you can change if you prefer Stylus or Less
  main {
    background: yellow;
  }
</style>
