---
import Layout from "../layouts/Layout.astro";
import Title from "../slides/intro/Title.astro";
import Accroche from "../slides/intro/Accroche.astro";
import HashFunctionsIntro from "../slides/intro/HashFunctionsIntro.astro";
import HashFunctionsExemple from "../slides/intro/HashFunctionsExemple.astro";
import IntroGameOfLife from "../slides/intro/IntroGameOfLife.astro";
import GameOfLifeFunction from "../slides/intro/GameOfLifeFunction.astro";
import Disclaimer from "../slides/1_hash_functions_demo/Disclaimer.astro";
import PasswordStorage from "../slides/1_hash_functions_demo/PasswordStorage.astro";
import EncryptionHashing from "../slides/1_hash_functions_demo/EncryptionHashing.astro";
import HashSecurity from "../slides/1_hash_functions_demo/HashSecurity.astro";
import Demo from "../slides/1_hash_functions_demo/Demo.astro";
import DesirableProperties from "../slides/1_hash_functions_demo/DesirableProperties.astro";
import Bias from "../slides/1_hash_functions_demo/Bias.astro";
import WhyHashing from "../slides/intro/WhyHashing.astro";
import Fingerprinting from "../slides/intro/Fingerprinting.astro";
import Rules from "../slides/intro/Rules.astro";
import GameOfLifeFullscreen from "../slides/intro/GameOfLifeFullscreen.astro";
import Dessin from "../slides/intro/Dessin.astro";
import FunctionPresentation from "../slides/1_hash_functions_demo/FunctionPresentation.astro";
import Diffusion from "../slides/1_hash_functions_demo/Diffusion.astro";
import DiffusionExemple from "../slides/1_hash_functions_demo/DiffusionExemple.astro";
import BiasCharts from "../slides/1_hash_functions_demo/BiasCharts.astro";
import StillLife from "../slides/1_hash_functions_demo/StillLife.astro";
import GameOfLifeStillLife from "../slides/1_hash_functions_demo/GameOfLifeStillLife.astro";
import BiasDiffusionTradeoff from "../slides/1_hash_functions_demo/BiasDiffusionTradeoff.astro";
import BiasDiffusionTradeoffExemple from "../slides/1_hash_functions_demo/BiasDiffusionTradeoffExemple.astro";
import GameOfLifeVulnerabilities from "../slides/1_hash_functions_demo/GameOfLifeVulnerabilities.astro";
import Collisions from "../slides/1_hash_functions_demo/Collisions.astro";
import Preimage from "../slides/1_hash_functions_demo/Preimage.astro";
import GameOfLifeProblem from "../slides/1_hash_functions_demo/GameOfLifeProblem.astro";
import Eden from "../slides/1_hash_functions_demo/Eden.astro";
import InjectivityExemple from "../slides/1_hash_functions_demo/InjectivityExemple.astro";
import GameOfLifeParadox from "../slides/1_hash_functions_demo/GameOfLifeParadox.astro";
import Final from "../slides/intro/Final.astro";
import Recommendations from "../slides/1_hash_functions_demo/Recommendations.astro";
---

<Layout title="My Awesome Talk Title">
  <main class="reveal">
    <div class="slides">
      <Title />
			<Accroche />
			<HashFunctionsIntro />
			<HashSecurity />
			<HashFunctionsExemple />
			<DiffusionExemple />
			<WhyHashing />
			<Fingerprinting />
			<Dessin />
			<IntroGameOfLife />
			<Rules />
			<GameOfLifeFullscreen />
			<GameOfLifeFunction />
			<Disclaimer />
			<FunctionPresentation />
			<Demo withTitle/> <!-- General demo -->
			<DesirableProperties />
			<Bias />
			<Diffusion />
			<Demo /> <!-- Exemples of diffusion and bias -->
			<BiasCharts />
			<GameOfLifeStillLife />
			<BiasDiffusionTradeoff />
			<BiasDiffusionTradeoffExemple />
			<GameOfLifeVulnerabilities />
			<Demo /> <!-- Password collision -->
			<Collisions />
			<Preimage />
			<GameOfLifeProblem />
			<Eden />
			<InjectivityExemple />
			<GameOfLifeParadox />
			<Disclaimer />
			<Recommendations />
			<Final />
      <!-- Put your slides here -->
    </div>
  </main>
</Layout>

<style lang="scss">
  // Sass is installed by default, you can change if you prefer Stylus or Less
  main {
    background: yellow;
  }
</style>
