---
import Slide from "../../components/Slide.astro";
import PhotoAccroche from "../../assets/photo_accroche.webp";
---

<Slide>
	<section data-background-image={PhotoAccroche.src}></section>
</Slide>
