---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide oneSlide title="Exemples (MD5)" spacing={11.5}>
	<div class="slide-wrapper">
		<div class="exemple fragment">
			<p>"Zenika"</p>
			<p>&#8594;</p>
			<p style="word-break: break-word; width: 25vw">9a3cccd284ee546ad0e4d0e2ab45afc7</p>
		</div>
		<div class="exemple fragment">
			<p>"Zenik<strong>o</strong>"</p>
			<p>&#8594;</p>
			<p style="word-break: break-word; width: 25vw">136e4ba562cf7c3351c256677dd8f235</p>
		</div>
	</div>
</TitleSlide>

<style>
	.slide-wrapper {
		font-size: 1.2em;
	}
</style>
