---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide oneSlide title="Exemples (MD5)" spacing={11.5}>
	<div class="slide-wrapper">
		<div class="exemple fragment">
			<p>"Bedrock"</p>
			<p>&#8594;</p>
			<p style="word-break: break-word; width: 25vw">3836cb55cf42c53ba498574eec35623c</p>
		</div>
		<div class="exemple fragment">
			<p>"Bedr<strong>a</strong>ck"</p>
			<p>&#8594;</p>
			<p style="word-break: break-word; width: 25vw">acc536f0f7278b11f4dd33460337ded7</p>
		</div>
	</div>
</TitleSlide>

<style>
	.slide-wrapper {
		font-size: 1.2em;
	}
</style>
