---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide oneSlide title="Exemples (MD5)">
	<div class="slide-wrapper">
		<div class="exemple fragment">
			<p>"LyonJS"</p>
			<p>&#8594;</p>
			<p style="word-break: break-word; width: 25vw">430a3d06f481aa35e0647531997d48a8</p>
		</div>
		<div class="exemple fragment">
			<p>"Lyon<strong>T</strong>S"</p>
			<p>&#8594;</p>
			<p style="word-break: break-word; width: 25vw">e28196af01b963dd609e20ddc9ce0979</p>
		</div>
	</div>
</TitleSlide>

<style>
	.slide-wrapper {
		font-size: 1.2em;
	}
</style>
