---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Reconnaître sans connaître">
	<ul>
		<li class="fragment">Création du compte : le mot de passe en clair est haché puis effacé <span class="fragment">🗑</span></li>
		<li class="fragment">Identification: le mot de passe en clair est haché et comparé au condensé stocké. 🔍</li>
	</ul>
</TitleSlide>

<style>
	li + li {
		margin-top: 7vh;
	}
</style>
