---
import Slide from "../../components/Slide.astro";
import GridStart from "../../assets/hash_function/start.png";
import GridEnd from "../../assets/hash_function/end.png";
---

<Slide withTitle>
	<div style="
		position: relative;
		top: -9vh;
		font-family: 'Comic Sans MS';
		width: 50vw;
		z-index: 10;
	">
		<h2 style="color: white; font-size: 1.42em;">Une fonction de hachage ?</h2>
	</div>
	<div class="exemple">
		<img src={GridStart.src} width="350" />
		<div>
			<span style="font-size: 0.8em">50 générations</span>
			<p>&#8594;</p>
		</div>
		<img src={GridEnd.src} width="350" />
	</div>
</Slide>
