---
import GridStart from "../../assets/hash_function/start.png";
import GridEnd from "../../assets/hash_function/end.png";
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide oneSlide title="Une fonction de hachage ?" spacing={9}>
	<div class="exemple">
		<img src={GridStart.src} width="350" />
		<div>
			<span style="font-size: 0.8em">50 générations</span>
			<p>&#8594;</p>
		</div>
		<img src={GridEnd.src} width="350" />
	</div>
</TitleSlide>
