---
import TitleSlide from "../../components/TitleSlide.astro";
import Logo from "../../assets/bedrock_streaming_logo.jpeg";
import MD5 from "../../assets/MD5pdf.png";
---

<TitleSlide title="Concrètement ça donne quoi ?" secondTitle="Exemples (MD5)" spacing={3}>
	<div class="slide-wrapper">
		<div class="exemple fragment">
			<div class="img-wrapper">
				<p>"Bedrock"</p>
			</div>
			<p>&#8594;</p>
			<p style="word-break: break-word">3836cb55cf42c53ba498574eec35623c</p>
		</div>
		<div class="exemple fragment">
			<div class="img-wrapper">
				<img src={MD5.src} width="250"/>
			</div>
			<p>&#8594;</p>
			<p style="word-break: break-word">3229f96e5769da329fd0aa662844d777</p>
		</div>
		<div class="exemple fragment">
			<div class="img-wrapper">
				<img src={Logo.src} width="180"/>
			</div>
			<p>&#8594;</p>
			<p style="word-break: break-word">e829cb1f9911c3f763d0c86e3fabc207</p>
		</div>
	</div>
</TitleSlide>

<style>
	.img-wrapper {
		width: 400px;
		display: flex;
		justify-content: center;
	}

	.slide-wrapper {
		font-size: 0.9em;
	}
</style>
