---
import Blender from "../../assets/blender.webp"
---


<section data-background-image={Blender.src} data-background-size="contain">
	<span class="credit">Illustration par Julien Piatek</span>
</section>

<style>
	.credit {
		position: absolute;
		bottom: -49vh;
		left: 0;
		font-size: 0.5em;
		color: #232323;
	}
</style>

