---
import Slide from "../../components/Slide.astro";
import Avatar from "../../assets/avatar_pour_les_nuls.png";
---

<Slide withTitle withSubtitle>
	<div style="
		position: relative;
		top: 3vh;
		font-family: 'Comic Sans MS';
		width: 50vw;
		z-index: 10;
	">
		<h2 style="color: white; font-size: 1.42em;">Dessine-moi un mot de passe</h2>
		<p style="color: #ffeb03; font-size: 1.1em">ou le hachage cryptographique pour les nuls</p>
	</div>
	<div class="info">
		<div>Théo Gianella</div>
		<div>
			<div>Technozaure Lyon</div>
			<div>24/05/2024</div>
		</div>
	</div>
	<img class="avatar" src={Avatar.src} width="300" />
</Slide>

<style>
	.avatar {
		position: relative;
		bottom: -17vh;
		left: -16vw;
	}

	.info {
		position: absolute;
		bottom: -11vh;
		right: -4vw;
		clip-path: polygon(41% 6%, 51% 22%, 69% 5%, 70% 26%, 94% 19%, 75% 45%, 99% 59%, 75% 71%, 86% 94%, 61% 76%, 54% 99%, 44% 76%, 32% 99%, 29% 73%, 6% 86%, 20% 62%, 5% 51%, 22% 40%, 6% 19%, 35% 25%);
		background: black;
		color: white;
		font-family: "Comic Sans MS";
		font-size: 0.80em;
		width: 500px;
		height: 400px;
		display: flex;
		flex-direction: column;
		gap: 1vh;
		align-items: center;
		justify-content: center;
	}
</style>
