---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Pourquoi hacher ?">
	<ul>
		<li class="fragment">Stockage en clair : dangereux 👀</li>
		<li class="fragment">Chiffrement : repousse le problème 🙈</li>
		<li class="fragment">Hachage : permet de vérifier une donnée sans la connaître &#8594; aucun secret ! 🤷</li>
		<li class="fragment">Pas de secrets &#8594; pas de problèmes ! 🥳</li>
	</ul>
</TitleSlide>

<style>
	li {
		margin-block: 30px;
	}
</style>
