---
import Slide from "./Slide.astro";

interface Props {
	oneSlide?: boolean;
	title: string;
	secondTitle?: string;
	spacing: number;
	backgroundImage?: string;
	}

const { title, oneSlide= false, spacing = 10, secondTitle, backgroundImage} = Astro.props;

const titleColor = !!backgroundImage ? "white" : '';
---

{!oneSlide ?
	<Slide backgroundImage={backgroundImage}>
		<h2 class="main-title">{title}</h2>
	</Slide>
	: null
}

<Slide withTitle>
	<div class="title-wrapper">
		<h2 class="top-title">{!!secondTitle ? secondTitle : title}</h2>
	</div>
	<slot />
</Slide>

<style define:vars={{ spacing, titleColor }}>
	.title-wrapper {
		position: relative;
		bottom: calc(var(--spacing) * 1vh);
		width: 50vw;
		z-index: 10;
	}

	.top-title {
		color: white;
		font-size: 1.42em;
	}

	.main-title {
		color: var(--titleColor);
	}
</style>
