---
import Slide from "./Slide.astro";

interface Props {
	oneSlide?: boolean;
	title: string;
	secondTitle?: string;
	backgroundImage?: string;
}

const { title, oneSlide = false, secondTitle, backgroundImage } = Astro.props;

const titleColor = !!backgroundImage ? "white" : '';
---

{!oneSlide ?
	<Slide backgroundImage={backgroundImage}>
		<div class="header-bg-hidden" data-id="header-bg"></div>
		<h2 class="main-title">{title}</h2>
	</Slide>
	: null
}

<Slide withTitle>
	<h2 slot="header" class="top-title">{!!secondTitle ? secondTitle : title}</h2>
	<slot />
</Slide>

<style define:vars={{ titleColor }}>
	.top-title {
		color: white;
		font-size: 1.40em;
	}

	.main-title {
		font-size: 1.40em;
		color: var(--titleColor);
	}

	.header-bg-hidden {
		position: absolute;
		top: 0;
		left: -50%;
		width: 200%;
		height: 0;
		background: black;
		transform: translateY(-100%);
	}
</style>
