---
import Slide from "./Slide.astro";

interface Props {
	oneSlide?: boolean;
	title: string;
	secondTitle?: string;
	spacing: number;
	backgroundImage?: string;
	}

const { title, oneSlide= false, spacing = 10, secondTitle, backgroundImage} = Astro.props;

const titleColor = !!backgroundImage ? "white" : '';
---

{!oneSlide ?
	<Slide backgroundImage={backgroundImage}>
		<h2 style=`color: ${titleColor}`>{title}</h2>
	</Slide>
	: null
}

<Slide withTitle>
	<div style=`
		position: relative;
		top: -${spacing}vh;
		width: 50vw;
		z-index: 10;
	`>
		<h2 style="color: white; font-size: 1.42em;">{!!secondTitle ? secondTitle : title}</h2>
	</div>
	<slot />
</Slide>
