---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Mesurer l'aléatoire: le biais" spacing={10}>
	<p class="fragment">Le condensé d'un oracle aléatoire est... aléatoire !</p>
	<p class="fragment">Autrement dit, chaque caractère possible du condensé est statistiquement aussi fréquent</p>
	<p class="fragment">Autrement dit, chaque bit a 50% de chance <br> d'être 1 ou 0</p>
</TitleSlide>
