---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Le compromis biais-diffusion">
	<p class="fragment">Un paramètre sur lequel on peut jouer: le nombre de générations</p>
	<p class="fragment">Plus le nombre de générations augmente, plus les changements se diffusent</p>
	<p class="fragment">... mais plus le biais augmente !</p>
</TitleSlide>
