---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="La fonction idéale" spacing={6}>
	<h5 class="fragment" style="margin-bottom: 40px">L'oracle aléatoire</h5>
	<ul>
		<li class="fragment">Une fonction qui associe à chaque entrée possible une sortie <strong>unique</strong> et complètement <strong>aléatoire</strong></li>
		<li class="fragment"><strong>Unique</strong> : une fonction déterministe</li>
		<li class="fragment"><strong>Aléatoire</strong> : aucun rapport entre l'entrée et la sortie</li>
	</ul>
</TitleSlide>

<style>
	li + li {
		margin-top: 20px;
	}
</style>
