---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="La diffusion" spacing={6}>
	<p class="fragment">Objectif : aucune corrélation <strong>apparente</strong> entre le texte en clair et le condensé</p>
	<p class="fragment">Autrement dit, deux entrées très proches doivent donner deux condensés totalement différents</p>
	<p class="fragment">Autrement dit, si je change un bit de l'entrée, tous les bits de la sortie doivent avoir une chance sur deux de changer</p>
</TitleSlide>
