---
import Slide from "../../components/Slide.astro";
import Athenes from "../../assets/ecole_athenes.jpeg"
import Guernica from "../../assets/guernica.webp";
import Kandinsky from "../../assets/kandinsky.jpeg";
import Malevitch from "../../assets/Malevitch.png";
---

<section data-background-image={Athenes.src} data-background-size="contain"></section>
<section data-background-image={Guernica.src} data-background-size="contain"></section>
<section data-background-image={Kandinsky.src} data-background-size="contain"></section>
<section data-background-image={Malevitch.src} data-background-size="contain"></section>
