---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Les fonctions de hachage" spacing={8.5}>
	<p>Une fonction <strong>déterministe</strong> qui prend une donnée de taille variable en entrée (chaîne de caractères, document, contenu media...) et produit une chaîne de caractères de taille fixe : le <strong>condensé</strong>.</p>
	<div class="fragment">
		<p><strong>Déterministe</strong> : le même input donne <strong>toujours</strong> le même output</p>
	</div>
</TitleSlide>
