---
import Slide from "../../components/Slide.astro";
---

<Slide>
	<h2>Une brique fondamentale</h2>
</Slide>

<Slide>
	<div class="r-stack">
		<img class="fragment" src="/public/hash_functions/1.webp" />
		<img class="fragment" src="/public/hash_functions/2.webp" />
		<img class="fragment" src="/public/hash_functions/3.webp" />
		<img class="fragment" src="/public/hash_functions/4.webp" />
		<img class="fragment" src="/public/hash_functions/5.webp" />
	</div>
</Slide>
