---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Concrètement ça donne quoi ?" secondTitle="Exemples (MD5)" spacing={9}>
	<div class="exemple fragment">
		<p>"Dessine-moi un mot de passe"</p>
		<p>&#8594;</p>
		<p style="word-break: break-word">76f0981c3a123663d78bccdc380ec657</p>
	</div>
	<div class="exemple fragment">
		<img src="/public/MD5pdf.png" width="380"/>
		<p>&#8594;</p>
		<p style="word-break: break-word">e829cb1f9911c3f763d0c86e3fabc207</p>
	</div>
</TitleSlide>
