---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Le jeu de la vie" spacing={11}>
	<div class="r-stack">
		<img class="fragment" src="/public/game_of_life.jpg" width="500"/>
		<img class="fragment" src="/public/game_of_life.gif" width="500"/>
	</div>
</TitleSlide>
