---
import TitleSlide from "../../components/TitleSlide.astro";
---

<TitleSlide title="Pourquoi hacher ?" spacing={11}>
	<ul>
		<li class="fragment">Stockage en clair : dangereux</li>
		<li class="fragment">Chiffrement : repousse le problème</li>
		<li class="fragment">Empreinte : permet de vérifier une donnée sans la connaître</li>
	</ul>
</TitleSlide>

<style>
	li {
		margin-block: 30px;
	}
</style>
